
[submodule "Assignment1"]
	path = Assignment1
	url = https://github.com/ugokwehenry/Assignment1.git
[submodule "Assignment2"]
	path = Assignment2
	url = https://github.com/ugokwehenry/Assignment2.git
[submodule "Assignment3"]
	path = Assignment3
	url = https://github.com/ugokwehenry/Assignment3.git
[submodule "Assignment4"]
	path = Assignment4
	url = https://github.com/ugokwehenry/Assignment4.git
